@charset "UFT-8";
@import url('https://fonts.googleapis.com/css2? family= Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600; 0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900 & display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-family:'Montserrat', sem serifa;
    text-decoration: none;
}

:root{
    --cor-de-fundo:#bfd6d1;
    --cor-da-bomba:#687d82;
    --primeira-cor:#505664;
    --segunda-cor: #313642;
    --terceira-cor: #313642;
    --quarta-cor:#e63b3b;
    --quinta-cor: #e3a23b;
}

/*--------------- ESTRUTURA GERAL ----------------*/ 
body{
    background-color: var(--cor-de-fundo);
}


main{
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.estrutura-base{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*---------------- CAUDA DA BOMBA ----------------*/

#cauda{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 140px;
}

#cauda > #cauda-filho{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 75px;
    background-color: var(--cor-da-bomba);
    position: relative;
    z-index: 1;
}

#cauda > #cauda-triangulo{
    height: 0;
    width: 65px;
    border-top: 75px solid var(--cor-da-bomba);
    border-left: 42px solid transparent;
    border-right: 43px solid transparent;
    position: relative;
    z-index: 0;
}

#cauda > #cauda-quadrado{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-top: 50px;
    height: 90px;
    width: 90px;
    background-color: var(--cor-da-bomba);
    position: absolute;
    z-index: 0;
}

#caixa-dentro-triangulo{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border-right:1px solid black;
    border-left:1px solid black;
    border-top: 1px solid black;
    width: 55px;
    height: 45px;
    background-color: var(--primeira-cor)
}

#detalhe4{
    width: 22px;
    height: 13px;
    background-color:  rgb(255, 163, 43);
    border-right:1px solid black;
    border-left:1px solid black;
}

#detalhe5{
    width: 30px;
    height: 20px;
    background-color: var(--segunda-cor);
    border: 1px solid black;
}


/*--> Estrutura interna*/

/*--------------- PESCOÇO DA BOMBA ---------------*/

#pescoco{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 140px;
}

#pescoco > #pescoco-triangulo{
    height: 0;
    width: 90px;
    border-bottom: 140px solid var(--cor-da-bomba);
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
}

/*--> Estrutura interna*/

#pescoco > #pescoco-triangulo > #alinhamento1{
    padding-left: 16px;
}

#quadrado1{
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    align-items: center;
    width: 55px;
    height: 25px;
    border-right:1px solid black;
    border-left:1px solid black;
    border-bottom: 1px solid black;
    background-color: var(--primeira-cor);
}

#quadrado-alinhamento{
    padding-left: 1px;
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    align-items: center;
}

#detalhes2{
    width: 22px;
    height: 5px;
    background-color: rgb(207, 46, 46);
    border-top:1px solid black;
    border-left:1px solid black;
    border-right: 1px solid black;
}

#pescoco > #pescoco-triangulo > #alinhamento2{
    padding-left: 25px;
}

#pescoco > #pescoco-triangulo > #alinhamento2 > #bomba-cano1{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    width: 38px;
    height: 120px;
    background-color: #5e5e5e;
    border-right:1px solid black;
    border-left:1px solid black;
    border-bottom: 1px solid black;
    position: relative;
    z-index: 1;
}

#alinhamento3{
    padding-top: 60px;
    padding-right: 110px;
    position: absolute;
    z-index: 2;
}

#barra-detalhes{
    width: 110px;
    height: 6px;
    background-color: #5e5e5e;
    border: 1px solid black;
    position: absolute;
    z-index: 2;
}

#pescoco > #pescoco-triangulo > #alinhamento2 > #bomba-cano1 > #bomba-cano2{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    width: 22px;
    height: 120px;
    background-color: #757575;
    border-right:1px solid black;
    border-left:1px solid black;
    position: relative;
    z-index: 1;
}

#detalhes1{
    width: 22px;
    height: 5px;
    background-color: rgb(207, 46, 46);
    border-bottom:1px solid black;
    border-left:1px solid black;
}

#detalhe3{
    width: 22px;
    height: 13px;
    background-color: rgb(255, 163, 43);
    border-right:1px solid black;
    border-left:1px solid black;
}

/*--------------- CORPO DA BOMBA ---------------*/ 

#corpo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 300px;
}

#corpo > #bomba-principal{
    width: 150px;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    align-items: center;
    background-color: var(--cor-da-bomba);
}

#alinhamento5{
    padding-top: 120px;
    position: absolute;
    z-index: 0;
}

#conector{
    width: 3px;
    height: 20px;
    background-color: #414141;
    border: 1px solid black;
}

#alinhamento4{
    padding-bottom: 240px;
    padding-right: 90px;
    position: absolute;
    z-index: 0;
}

#quadrado-solitario{
    width: 30px;
    height: 40px;
    background-color: #494545;
    border: 1px solid black;
}

/*--> Estrutura interna*/

#corpo > #bomba-principal > #quadrado-grande{
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    align-items: center;
    width: 120px;
    height: 130px;
    background-color: #8f8f8f;
    border: 1px solid black;
    position: absolute;
    z-index: 0;
}

#quadrado-grande2{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    width: 80px;
    height: 130px;
    background-color: #727272;
    border-right:1px solid black;
    border-left:1px solid black;
}

#quadrado-grande3 {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    width: 80px;
    height: 60px;
    background-color: #5e5e5e;
    border-top:1px solid black;
    border-bottom:1px solid black;
}

#corpo > #bomba-principal > #bomba-cano1{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    width: 38px;
    height: 280px;
    background-color: #5e5e5e;
    border-right:1px solid black;
    border-left:1px solid black;
    border-bottom: 1px solid black;
    position: relative;
    z-index: 2;
}

#orientacao-cano{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    padding-bottom: 0px;
}

#quadrado-grande4{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    width: 50px;
    height: 35px;
    background-color: #b36363;
    border: 1px solid black;
    position:absolute;
    z-index: 1;
}

#detalhe-quadrado-grande4{
    width: 22px;
    height: 35px;
    background-color: #777777;
    border-right:1px solid black;
    border-left:1px solid black;
}

#quadrado-pequeno{
    width: 15px;
    height: 63px;
    background-color: #777777;
    border-right:1px solid black;
    border-left:1px solid black;;
}

#quadrado-pequeno2{
    width: 25px;
    height: 20px;
    background-color: #777777;
    border-right:1px solid black;
    border-left:1px solid black;
    border-top:1px solid black;
}

#corpo > #bomba-principal > #bomba-cano1 > #bomba-cano2{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    width: 22px;
    height: 280px;
    background-color: #757575;
    border-right:1px solid black;
    border-left:1px solid black;
}

#corpo > #ponto-bomba{
    width: 150px;
    height: 40px;
    background-color: var(--cor-da-bomba);
    border-radius: 0px 0px 70px 70px;
}
